<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- tailwindcss -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Register Face</title>
</head>

<body>
    <div class="flex flex-col justify-center ">

        <h1 class="text-6xl my-8">Register New Student Face</h1>

        <form action="#" class="align-center">
            <p>{{name}}</p>
            <img src="/stream" alt=""width="400" height="400"  class="border-3 border-pink-500 mx-auto">

        </form>
        <form action="{{stop_cam}}" method="get">
            <button submit  vclass="bg-blue-500 py-4 px-6 text-white my-8 rounded-lg mx-auto">Manual</button>
        </form>
    </div>
</body>

</html>